<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Majidah</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/movies">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/tv-shows">TV-Show</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/new-and-popular">New & Popular</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" id="inputValue" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" id="search">Search</button>
      </form>
    </div>
    <br>
    <div class="navbar-nav ml-auto">
      <% if(!currentUser) {%>
      <a class="nav-link active" href="/login">Login</a>
      <a class="nav-link active" href="/register">Register</a>
      <% } else {%>
        <form action="/account-setting">
          <button class="btn btn-info btn-block" href="/account-setting" >Account</button>
        </form>
        
        <form action="/logout">
          <button class="btn btn-danger btn-block" href="/logout" >Logout</button>
        </form>
      
      <% } %>
  </div>
  </div>
</nav>