<% layout('layouts/boilerplate')%>

<h1>Account Settings</h1>
<div class="row">
    
    <h3>Personal Details</h3>
    <div class="col">
        <h5>Full Name</h5>
        <input type="text" class="form-control" placeholder="Enter full name" aria-label="Full name">
        <h5>Phone</h5>
        <input type="text" class="form-control" placeholder="Enter phone number" aria-label="Phone number">
        <h5>Street Address</h5>
        <input type="text" class="form-control" placeholder="Enter street address" aria-label="Street address">
        <h5>State</h5>
        <input type="text" class="form-control" placeholder="Enter your state" aria-label="State">
    </div>
    <div class="col">
        <h5>Email</h5>
        <input type="text" class="form-control" placeholder="Enter email" aria-label="Email">
        <h5>Website URL</h5>
        <input type="text" class="form-control" placeholder="Enter your website" aria-label="Website">
        <h5>City</h5>
        <input type="text" class="form-control" placeholder="Enter your city" aria-label="City">
        <h5>Zip Code</h5>
        <input type="text" class="form-control" placeholder="Enter your zip code" aria-label="Zip Code">
    </div>
  </div>