<% layout('layouts/boilerplate')%>
<div class="jumbotron text-center">
    <h1 class="display-4">MAJIDAH</h1>
    <p class="lead">Watch Movies Online</p>
    <p>Majidah is a better plave to <b>watch movies online for free.</b> Majidah provides high quality movies, tv-shows and etecera. No registration is required. The content will be updated daily with fast streaming servers, multi-language subtitles supported. There is a lot of movies to pick from our website.</p>
    <p>Please help us share this site with your friends. Thanks!</p>

    <p class="lead">
      <a type="button" class="btn btn-outline-success" href="/home" role="button">Go to Majidah Homepage</a>
    </p>
  </div>

  <script src="/javascripts/apiMovies.js"></script>